
  /*主体*/
body{
  overflow-y: hidden;
  font-family: "Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei",sans-serif;

}

.el-main {
  border: 0;
  background-color: #ffffff;
  padding: 0!important;
  /*overflow-x: hidden;*/
}

#main-right {
  background-color: #ffffff;
  /*margin-bottom: 2%;*/
}

.el-submenu.is-active .el-submenu__title {
  padding-left: 15% !important;
  line-height: 45px !important;
  height: 45px !important;
}

.el-submenu__title {
  padding-left: 15% !important;
  line-height: 45px !important;
  height:45px !important;
}

body {
  margin: 0;
}

#app {
  min-width: 1200px;
  margin: 0 auto;
}

/* 头部导航 */
header {
  z-index: 1000;
  min-width: 1200px;
  transition: all 0.5s ease;
  border-top: solid 4px #ffffff;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12), 0 0 6px 0 rgba(0, 0, 0, .04);
}

header.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header .el-menu-demo {
  padding-left: 300px !important;
}

main .el-menu {
  background-color: transparent !important;
}

/*路由链接  */
.router-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #475669;
  text-decoration: none;
}

.is-active .router-link {
  color: #20a0ff;
}

/* 单选框 */
.el-form-item .el-radio + .el-radio {
  margin-left: 30px !important;
}

/* 路由切换动效 */
.fade-enter-active, .fade-leave-active {
  transition: all .5s;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}

.list-enter-active, .list-leave-active {
  transition: all 1s;
}

.list-enter, .list-leave-active {
  opacity: 0;
  transform: translateY(30px);
}

/* 导航栏菜单选中效果 */
.isActive {
  color: #20a0ff !important;
}

#app main .aside .is-active {
  color: #475669;
}

img {
  margin-top: 0.8%;
}

.el-input {
  padding-left: 10%;
  margin-top: 2%;
}

.el-icon-search:before {
  position: absolute;
  right: 22%;
  z-index: 10;
  cursor: pointer;
  font-size: 17px;
  color: #99a9bf;
}

.el-input__inner {
  text-indent: 11%;
}

.header-text {
  font-weight: normal;
  margin-top: 4%;
  margin-left: 13%;
  color: #0C4C7F;
  -webkit-tap-highlight-color: #0C4C7F;
  cursor: pointer;
}

.el-menu-title {
  font-weight: 700;
  padding-top: 10%;
  font-size: 14px;
  overflow: hidden;
  zoom: 1;
  height: 100%;
  color: #999;
  line-height: 32px;
  cursor: default;
  padding-left: 15%;
}

.el-submenu .el-menu-item {
  margin-left: 20px !important;
  line-height: 45px !important;
  height: 45px !important;
}

.el-menu-item{
  line-height: 45px !important;
  height: 45px !important;
}

::-webkit-scrollbar-thumb {
  min-height: 20px;
  border-radius: 5px;
  background-clip: content-box;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2) inset;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #F5F5F5;
}

.li-text {
  padding-left: 10%;
  overflow-x: hidden;
  overflow-y: auto;
}

.group {
  width: 68%;
  margin-bottom: 7%;
  padding-left: 16% !important;
}

.create {
  line-height: 13px;
  color: #333;
  font-size: 15px;
}

.el-table--fit{
  width: 100%!important;
}

.json-viewer{
  padding: 12px 10px 14px;
  border: 1px solid #ddd;
  white-space: pre-wrap;
  word-wrap: break-word;
  background: #F7F8FB;
  /* Syntax highlighting for JSON objects */
  ul.json-dict,
  ol.json-array {
    list-style-type: none;
    margin: 0 0 0 1px;
    border-left: 1px dotted #ccc;
    padding-left: 2em;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
  }

  ul.json-dict li {
    font-weight: bold;
    color: #080;
  }

  .json-string {
    font-weight: bold;
    color: #080;
  }

  .json-literal {
    color: #066;
    font-weight: bold;


  }

  /* Toggle button */
  a.json-toggle {
    position: relative;
    /*color: inherit;*/
    text-decoration: none;
    color: #080;
    font-weight: bold;
  }

  a.json-toggle:before {
    color: #aaa;
    content: "\25BC"; /* down arrow */
    position: absolute;
    display: inline-block;
    width: 1em;
    left: -1em;
  }

  a.json-toggle.collapsed:before {
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }

  /* Collapsable placeholder links */
  a.json-placeholder {
    color: #aaa;
    padding: 0 1em;
    text-decoration: none;
  }

  a.json-placeholder:hover {
    text-decoration: underline;
  }

  .pre-text {
    counter-reset: section;
    font-family: Lucida Console, Georgia;
    font-size: 13px;
    background: #F7F8FB;
    color: #000000;
    border: 1px solid #ddd;
    padding: 3%;
    width: 88%;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .markdown-body p {
    line-height: 26px;
  }

  .markdown-body strong {
    font-weight: 700;
  }

}